<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.widget">

  <application>
    <!-- 위젯 등록 -->
    <receiver android:name=".WidgetProvider">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        <action android:name="com.widget.action.UPDATE_WIDGET" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/widget_info" />
    </receiver>
  </application>
</manifest>
